body {
    background-color: #68707E;
}


h1 {
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #514d50;
    text-align: center;
}

#img1 {
    border: #bca080;
    border-radius: 9px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#img2 {
    border: 5px solid #bca080;
    border-radius: 10px;
    border-radius: 9px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#container-img2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.link-button {
    text-decoration: none;
    color: black;
    border: 1px solid gray;
    background-color: #f2f2f2;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 3px #888888;
}
