body {
    background-color: rgb(255, 255, 165);
}

.image{
    border: 5px solid green;
    border-radius: 10px;
    height: 400px;
}

#link-button {
    font-family: sans-serif;
    text-decoration: solid;
    letter-spacing: 1px;
    font-size: larger;
    font-weight: 300;
    color: lightgray;
    border: 3px groove burlywood;
    background-color: darkorange;
    padding: 9px;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 1.5px 1.5px 1.5px 1.5px brown;
 
}

#link-button:hover{


    color: crimson;
    font-style: oblique;
    font-stretch: narrower;
    
}

#link-button:active {

    color: darkred;
}

